.projects-container {
  margin: 4rem 0;
  position: relative;
}

.projects-container h5 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.projects-content {
  width: 100%; /* Możesz dostosować szerokość do swoich potrzeb */
  margin: auto;
  border-radius: 0.65rem;
  border: 2px solid #b6c4b6;
  padding: 2rem;
  background-color: #667c66;
  backdrop-filter: blur(1rem);
}

/* Styl dla każdego slajdu */
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styl dla obrazów w slajdzie */
.slick-slide img {
  height: 420px;
  width: 650px; /* Zapewnia, że obraz nie wyjdzie poza kontener */
  margin: auto; /* Centruje obraz */
  display: block; /* Usuwa domyślny margines */
}

/* Dostosowanie kropek nawigacyjnych */
.slick-dots {
  bottom: -30px; /* Możesz dostosować pozycję kropek */
}

.info {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: #f2fff2;
  text-align: center;
}

.carousel-enter {
  transform: translateY(-100%);
}

.carousel-enter-active {
  transform: translateY(0);
  transition: transform 300ms;
}

.carousel-exit {
  transform: translateY(0);
}

.carousel-exit-active {
  transform: translateY(100%);
  transition: transform 300ms;
}
.slideGap1,
.slideGap2,
.slideGap3 {
  font-size: 1.2rem;
}

.slideGap1 img {
  width: 50%;
  height: 50%;
  margin: auto; /* Centruje obraz */
  display: block; /* Usuwa domyślny margines */
}

.slideGap2 img {
  width: 440px;
  height: 500px;
  margin: auto; /* Centruje obraz */
  display: block; /* Usuwa domyślny margines */
}

.slideGap2 img {
  padding-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; /* Dodaje margines na dole obrazu */
}

.slideGap1 img {
  margin-bottom: 6rem;
}

.rp1,
.rp2,
.rp3 {
  font-size: 1.2rem;
}

.slideGap1 img {
  width: 50%;
  height: 50%;
  margin: auto; /* Centruje obraz */
  display: block; /* Usuwa domyślny margines */
}

.slideGap2 img {
  width: 440px;
  height: 500px;
  margin: auto; /* Centruje obraz */
  display: block; /* Usuwa domyślny margines */
}

.slideGap2 img {
  padding-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; /* Dodaje margines na dole obrazu */
}

.slideGap1 img {
  margin-bottom: 6rem;
}

@media (max-width: 767px) {
  .projects-container {
    margin: 2rem 0;
  }

  .projects-container h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .projects-content {
    padding: 1rem;
  }

  .slick-slide img {
    height: auto; /* Zmienia wysokość na auto, aby zachować proporcje obrazu */
    width: 100%; /* Zmienia szerokość na 100%, aby obraz wypełniał całą szerokość slajdu */
    object-fit: cover; /* Zapewnia, że obraz pokryje cały slajd, zachowując swoje proporcje */
  }

  .info {
    font-size: 1rem;
  }

  .slideGap1,
  .slideGap2,
  .slideGap3 {
    font-size: 1rem;
  }

  .slideGap1 img,
  .slideGap2 img {
    width: 100%;
    height: auto;
  }

  .slideGap2 img {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .slideGap1 img {
    margin-bottom: 3rem;
  }
}
