.contact-container {
  margin: 4rem 0;
  position: relative;
}

.contact-container h5 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.contact-container {
  display: flex;
}

.contact-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-left: 20rem;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 0.6rem;
  }

  .contact-container h5 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .contact-content {
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0;
    align-items: flex-start;
  }
}
