.container {
  max-width: 1300px !important;
  margin: 0 auto;
}

.component-spacing {
  margin-bottom: 2rem; /* Zmień tę wartość, aby dostosować odstęp */
}
@media (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}
