.container {
  max-width: 1300px !important;
  margin: 0 auto;
}

.component-spacing {
  margin-bottom: 2rem; /* Zmień tę wartość, aby dostosować odstęp */
}
@media (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}

/* Dla iPhone'ów z "notchem" */
@media screen and (device-aspect-ratio: 2/3),
  screen and (device-aspect-ratio: 40/71),
  screen and (device-aspect-ratio: 9/19.5),
  screen and (device-aspect-ratio: 375/812),
  screen and (device-aspect-ratio: 390/844),
  screen and (device-aspect-ratio: 414/896),
  screen and (device-aspect-ratio: 428/926) {
  body {
    /* Dodaj padding na górze i na dole, aby uniknąć "notcha" i paska nawigacyjnego */
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
    /* Ustaw wysokość i szerokość na 100%, aby strona wypełniała cały ekran */
    height: 100vh;
    width: 100vw;
    /* Ustaw margines na 0, aby usunąć domyślny margines */
    margin: 0;
  }
}
